<div>
    <div>
        <div><img class="thumbnail" {{bind-attr src="model.imageUri"}} /></div>
        <div>
            <h3>
                {{model.title}}
            </h3>
            <div>
                {{model.headline}}
            </div>
        </div>
    </div>
    <div>{{model.summary}}</div>
    <div>{{model.body}}</div>
</div>
